* {
    font-family: Helvetica, Segoe UI, sans-serif;
}
 input{

    Margin-top : 30px;
 }

 button {
    Margin-left: 10px;
 }

 input[type ="text"]{
    width: 300px;
 }

 ul {
    padding-left: 0px;
 }
 
 li {
	list-style: "";
}

input[type ="checkbox"]:checked + input{
    opacity: 0.4;
    text-decoration: line-through;
    font: italic;


}